#fondo{
    background:url(Estil-img/fondo.jpg);
    background-color: black;
    width: 1240px;
    height: 650px;;
    overflow: hidden;
    animation: fondo 15s linear infinite;
    -webkit-animation: fondo 15s linear infinite;
    -moz-animation: fondo 15s linear infinite;
    transition: 5s;

}
@-webkit-keyframes fondo {  /* Safari y Chrome */
		from { background-position: left top; }
		to   {  background-position: right top;}
	}
@-moz-keyframes fondo {  /* mozilla */
		from { background-position: left top; }
		to   {  background-position: right top; }
	}
@keyframes fondo {  /* sintaxis original */
		from { background-position: left top; }
		to   {  background-position: right top; }
}
#coet{
    background:url(Estil-img/coet.png);
    width: 300px;
    height: 246px;
    position: absolute;
    left: 450px;
    animation: mover_coet 4s ease-in-out infinite;
    
}
/*Moviment en espai*/
@keyframes mover_coet {
  0%  {  top: 100px; }
  50% {  top: 300px; }
  100%{  top: 100px; }
}
/*Moviment final*/
@keyframes mover_coet_infierno {
  0%  {  top: 150px; left: 400px; }
  50% {  top: 400px; left: 500px;}
  100%{  top: 150px; left: 400px;}
}
/*El coet fa una maniobra al fer hover*/
#coet:hover{
    animation: rotar_coet 4s ease-in-out infinite;
}
@keyframes rotar_coet {
  from { transform:rotate(0deg); }
  to  {  transform:rotate(360deg); }
    0%  {  top: 100px; }
  50% {  top: 300px; }
  100%{  top: 100px; }
}
/*Cara 1*/
#asustado{
    background-image: url(Estil-img/asustado.png);
    position: absolute;
    top: 95px;
    left: 145px;
    width: 62px;
    height: 62px;
    z-index: 10;
    animation: asustado .7s infinite linear;
    -moz-animation: asustado .7s infinite linear;
    -webkit-animation: asustado .7s infinite linear;
}
/*Moviment cara, aprofitat per altres elements*/
@-webkit-keyframes asustado{
    from { -webkit-transform: rotate(0deg) }
		to   { -webkit-transform: rotate(360deg) }
	}
	@-moz-keyframes asustado {  /* Firefox */
		from { -moz-transform: rotate(0deg) }
		to   { -moz-transform: rotate(360deg) }
	}
	@keyframes asustado { /*  sintaxis original  */
		from { transform: rotate(0deg) }
		to   { transform: rotate(360deg) }
	}
#marcianito1{
    background-image:url(Estil-img/invader1.gif);
    width: 200px;
    height: 163px;
    position: absolute;
    left: 50px;
    top: 20px;
    animation: mover_marciano 4s ease-in-out infinite;
}
@keyframes mover_marciano {
  0%  {  left: 50px; }
  50% {  left: 280px; }
  100%{  left: 50px; }
}
#marcianito2{
    background:url(Estil-img/invader2.gif);
    width: 200px;
    height: 200px;
    position: absolute;
    left: 25px;
    top: 350px;
    transition-duration: 5s;
}
/*El marcianito ataca al fer hover*/
#marcianito2:hover{
    z-index: 10;
    animation: asustado 5s infinite linear;
    -moz-animation: asustado 5s infinite linear;
    -webkit-animation: asustado 5s infinite linear;
    left: 450px;
    transition-duration: 5s;
}
#boton{
    background:url(Estil-img/explota.png);
    width: 150px;
    height: 150px;
    position: absolute;
    left: 1050px;
    top: 10px;
    
}
#boton:hover{
    cursor: pointer;
}
/*Cara 2*/
#feliz{
    background-image: url(Estil-img/happy.png);
    position: absolute;
    top: 95px;
    left: 145px;
    width: 62px;
    height: 62px;
    display: none;
}
/*Cara 3*/
#extran{
    background-image: url(Estil-img/extran.png);
    position: absolute;
    top: 95px;
    left: 145px;
    width: 62px;
    height: 62px;
    display: none;
}
/*Boss final*/
#hellboss{
    background-image:url(Estil-img/hellboss.gif);
    width: 256px;
    height: 256px;
    position: absolute;
    top: 10px;
    transition-duration: 2s;
    display: none;
    animation: mover_boss 4s ease-in-out infinite;
}
/*Moviment del boss final*/
@keyframes mover_boss {
  0%  {  left: 5%; }
  50% {  left: 70%; }
  100%{  left: 5%; }
}
/*Imatge transicio principi-final*/
#aparicion{
    background-image:url(Estil-img/hellboss.gif);
    width: 256px;
    height: 256px;
    position: absolute;
    top: 40px;
    left: 40px;
    display: none;
    z-index: 10;
    animation: asustado 10s infinite linear;
    -moz-animation: asustado 10s infinite linear;
    -webkit-animation: asustado 10s infinite linear;
}